/**************************
BASE STYLES
**************************/

* {
  box-sizing: border-box;
}

img {
  max-width: 90%;
}

body {
  font-family: 'Catamaran', sans-serif;
  color: #878787;
  text-align: center;
  background-color: #fafafa;
}

ul {
	padding-left: 0;
}

p {
  margin: 0 14px 20px;
  font-size: 1.1em;
}

h1 {
	font-family: 'Audiowide', sans-serif;
	color: #444;
	margin: 12px 0;
}

h2 {
	font-family: 'Catamaran' sans-serif;
	text-transform: uppercase;
	padding: 30px;
	margin: 0 auto;
	font-size: 1em;
	color: #444;
}

h3 {
	font-size: 1.3em;
	font-weight: 400;
	color: #444;
	margin-bottom: .5em;
}

footer {
	width: 80%;
	border-top: 1px solid #ddd;
	margin: 0 auto 1em;
	font-weight: bold;
	color: #444;
	padding-bottom: 1.5em;
	padding-top: 0.5em;
}

footer ul {
	list-style: none;
}

footer li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #444;
}

/**************************
LAYOUT STYLES
**************************/

nav {
	display: block;
	margin: 4px 0;
}

nav ul {
	list-style: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.1em;
	padding: 8px;
}

nav li {
	margin: 8px 0;
	background-color: white;
	padding: 12px 0;
}

nav li a {
	text-decoration: none;
}

nav li a:active, a:visited {
	color: #222;
}

nav li a:hover {
	color: orange;
	border-bottom: 2px dotted orange;
}

.profile img {
	width: 75%;
	margin-bottom: .7em;
}

.projects {
	background-color: white;
	padding-bottom: 1em;
}

.caption {
	margin-bottom: 50px;
}

.skills {
	padding-bottom: 1em;
}

.contactinfo {
	padding-bottom: 1em;
	background-color: orange;
	color: white;
}

.contactinfo h2 {
	color: white;
}

.contactdata {
	font-weight: bold;
	padding-left: .7em;
}

.footer-name {
	float: left;
}

.top-link {
	float: right;
	font-size: .9em;
}

/**************************
MEDIA QUERIES
**************************/

